<!-- <p>contact-page works!</p> -->


<!-- <div class="">
    <div class="container py-5 mx-auto lg:max-w-screen-lg">
        <div class="">
            <div class="mx-auto max-w-screen-md">
                <form class="form">
                    <div class="input-group my-4">
                        <label for="name" class="label font-medium text-md">Name</label>
                        <input type="text" id="name" class="w-full border border-gray-300 outline-none px-4 py-2">
                    </div>
                    <div class="input-group my-4">
                        <label for="email" class="label font-medium text-md">Email</label>
                        <input type="email" name="" class="w-full border border-gray-300 outline-none px-4 py-2" id="email">
                    </div>
                    <div class="input-group my-4">
                        <label for="subject" class="label font-medium text-md">Subject</label>
                        <input type="text" name="" class="w-full border border-gray-300 outline-none px-4 py-2" id="subject">
                    </div>
                    <div class="input-group my-4">
                        <label for="message" class="label font-medium text-md">Message</label>
                        <textarea name="" class="w-full border border-gray-300 outline-none px-4 py-2" id="message" cols="30" rows="10"></textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->


<div class="">
    <div class="container py-5 mx-auto lg:max-w-screen-lg">
        <div class="">
            <div class="mx-auto max-w-screen-md">
                <form [formGroup]="postForm" class="form" (ngSubmit)="sendPost()">
                    <div class="input-group my-4">
                        <label for="userId" class="label font-medium text-md">User Id</label>
                        <input type="number" id="userId" class="w-full border border-gray-300 outline-none px-4 py-2" formControlName="userId" required>
                    </div>
                    <div class="input-group my-4">
                        <label for="title" class="label font-medium text-md">Title</label>
                        <input type="text" name="" class="w-full border border-gray-300 outline-none px-4 py-2"
                            id="title" formControlName="title" required>
                    </div>
                    <div class="input-group my-4">
                        <label for="body" class="label font-medium text-md">Body</label>
                        <textarea name="" class="w-full border border-gray-300 outline-none px-4 py-2" id="body"
                            cols="30" rows="10" formControlName="body" required></textarea>
                    </div>
                    <div class="input-group my-4">
                        <button type="submit" class="w-full border border-gray-300 outline-none px-4 py-2">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>