<!-- <p>about works!</p> -->
<section>
    <div class="container my-8 mx-auto lg:max-w-screen-lg py-5 px-4">
        <div class="flex flex-wrap md:flex-nowrap items-center gap-5">
            <div class="w-full md:w-1/2 md:flex-auto">
                <small class="font-bold text-xs mini-title">Foodies</small>
                <h1 class="section-title font-bold text-6xl">Good Food <br>Good Mood</h1>
                <p class="text-base my-5">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Ducimus dolore, debitis cumque dicta deleniti nisi reiciendis explicabo exercitationem, 
                    quam ex eius sit consectetur consequuntur tempore repellendus ullam ipsam!
                </p>
                <a routerLink="/about">Learn More</a>
            </div>
            <div class="w-full md:w-1/2 md:flex-auto">
                <img src="assets/images/about-img.jpg" alt="about " class="">
            </div>
        </div>
    </div>
</section>
