<!-- <p>cart-page works!</p> -->



<section>
    <div class="container my-8 mx-auto lg:max-w-screen-lg py-5 px-4">
        <div class="text-center mb-4">
            <h2 class="section-title font-bold text-4xl">Your Cart</h2>
            <p class="my-4">
                Here are our varieties of sugary goodness
            </p>
        </div>
        <div class="flex flex-wrap md:flex-nowrap items-start gap-4">
            <div class="w-full md:w-3/5 md:flex-auto divide-y divide-gray-200">
                <!-- <div class="card overflow-hidden rounded-sm bg-white shadow flex flex-col h-full" *ngFor="let item of cuisines.meals"> -->

                <!-- <app-cart-card></app-cart-card> -->
                <div class="" *ngFor="let item of cartItems">
                    <div class="card py-5 overflow-hidden bg-white flex items-center gap-3">
                        <div class="w-3/12 flex-auto">
                            <img src="{{ item.strMealThumb }}" alt="" class="card-img">
                        </div>
                        <div class="w-9/12 flex-auto">
                            <div class="">
                                <p class="text-lg font-medium">{{ item.strMeal }}</p>
                                <p class="price text-base font-bold">$4.00</p>
                            </div>
                        </div>
                        <div class="w-8 flex-none">
                            <div class="flex flex-col border items-center">
                                <button class="w-full">-</button>
                                <span class="qty">1</span>
                                <button class="w-full">+</button>
                            </div>
                        </div>
                        <div class="w-8 flex-none">
                            <button class="border rounded-sm w-full">
                                x
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full md:w-2/5 md:flex-auto"></div>
        </div>
        <!-- <div class="">
            <div class="pagination w-max my-4 mx-auto">
                <div
                    class="pagination-row shadow rounded-full w-max bg-white flex flex-nowrap items-stretch text-center">
                    <button class="pagination-btn px-3 cursor-pointer" aria-label="go to previous page"
                        (click)="prevPage()" [disabled]="currentPage <= 0">
                        <i class="fa fa-angle-left text-lg" [ngClass]="currentPage <= 0 ? 'text-gray-200' : ''"
                            aria-hidden="true"></i>
                    </button>
                    <span class="px-3 py-2 bg-gray-50 text-sm font-medium">
                        {{ currentPage + 1 }} of {{ totalPages }}
                    </span>
                    <button class="pagination-btn px-3 cursor-pointer" aria-label="go to next page" (click)="nextPage()"
                        [disabled]="currentPage >= (totalPages - 1)">
                        <i class="fa fa-angle-right text-lg"
                            [ngClass]="currentPage >= (totalPages - 1) ? 'text-gray-200': ''" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div> -->
    </div>
</section>