<!-- <p>about-page works!</p> -->
<section>
    <div class="">
        <div class="container py-5 mx-auto lg:max-w-screen-lg">
            <div class="text-center">
                <h1 class="font-bold text-4xl text-center">About Us</h1>
                <div class="">
                    <p class="my-4">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam quisquam temporibus porro dolore
                        enim,
                        quibusdam similique repellendus debitis veniam facere corrupti distinctio laudantium,
                        nihil autem repellat omnis at reiciendis tenetur accusantium doloremque quo quaerat.
                        Error sint non veritatis, ratione nobis temporibus,
                        nulla cumque vero veniam consequuntur fugiat excepturi repellendus ad.
                        Debitis totam id libero eligendi molestiae corporis dolores magni aut doloribus veniam ratione
                        ea, eveniet,
                        praesentium adipisci! Similique, sunt molestiae,
                        totam accusamus repudiandae cum,
                        porro error quas illum eligendi consequuntur.
                    </p>
                    <p class="my-4">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam quisquam temporibus porro dolore
                        enim,
                        quibusdam similique repellendus debitis veniam facere corrupti distinctio laudantium,
                        nihil autem repellat omnis at reiciendis tenetur accusantium doloremque quo quaerat.
                        Error sint non veritatis, ratione nobis temporibus,
                        nulla cumque vero veniam consequuntur fugiat excepturi repellendus ad.
                        Debitis totam id libero eligendi molestiae corporis dolores magni aut doloribus veniam ratione
                        ea, eveniet,
                        praesentium adipisci! Similique, sunt molestiae,
                        totam accusamus repudiandae cum,
                        porro error quas illum eligendi consequuntur.
                    </p>
                    <p class="my-4">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam quisquam temporibus porro dolore
                        enim,
                        quibusdam similique repellendus debitis veniam facere corrupti distinctio laudantium,
                        nihil autem repellat omnis at reiciendis tenetur accusantium doloremque quo quaerat.
                        Error sint non veritatis, ratione nobis temporibus,
                        nulla cumque vero veniam consequuntur fugiat excepturi repellendus ad.
                        Debitis totam id libero eligendi molestiae corporis dolores magni aut doloribus veniam ratione
                        ea, eveniet,
                        praesentium adipisci! Similique, sunt molestiae,
                        totam accusamus repudiandae cum,
                        porro error quas illum eligendi consequuntur.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>