<!-- <p>popular works!</p> -->

<section>
    <div class="container my-8 mx-auto lg:max-w-screen-lg py-5 px-4">
        <div class="text-center mb-4">
            <small class="font-bold text-xs mini-title">Recipes</small>
            <h2 class="section-title font-bold text-2xl">Most Popular Items</h2>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
            <div class="card overflow-hidden rounded-sm bg-white shadow flex flex-col h-full">
                <img src="assets/images/dish.jpg" alt="" class="card-img">
                <div class="cardbody px-4 py-5">
                    <div class="flex items-center justify-between w-full">                        
                        <p class="text-base font-medium">Pancakes</p>
                        <p class="price text-sm font-bold">$4.00</p>
                    </div>
                </div>
            </div>
            <div class="card overflow-hidden rounded-sm bg-white shadow flex flex-col h-full">
                <img src="assets/images/dish.jpg" alt="" class="card-img">
                <div class="cardbody px-4 py-5">
                    <div class="flex items-center justify-between w-full">                        
                        <p class="text-base font-medium">Pancakes</p>
                        <p class="price text-sm font-bold">$4.00</p>
                    </div>
                </div>
            </div>
            <div class="card overflow-hidden rounded-sm bg-white shadow flex flex-col h-full">
                <img src="assets/images/dish.jpg" alt="" class="card-img">
                <div class="cardbody px-4 py-5">
                    <div class="flex items-center justify-between w-full">                        
                        <p class="text-base font-medium">Pancakes</p>
                        <p class="price text-sm font-bold">$4.00</p>
                    </div>
                </div>
            </div>
            <div class="card overflow-hidden rounded-sm bg-white shadow flex flex-col h-full">
                <img src="assets/images/dish.jpg" alt="" class="card-img">
                <div class="cardbody px-4 py-5">
                    <div class="flex items-center justify-between w-full">                        
                        <p class="text-base font-medium">Pancakes</p>
                        <p class="price text-sm font-bold">$4.00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


